{% extends 'base.html.twig' %}

{% block title %}Shorten URL{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="mb-3 mt-4 text-center">
        <a href="{{ path('analytics_dashboard') }}" class="btn btn-secondary mb-3">Go back</a>
    </div>
    <div class="col-md-6">

        <h2 class="mb-3 text-center">Shorten Your URL</h2>
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
        <div class="mb-3">
            {{ form_label(form.originalUrl, 'URL to Shorten', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.originalUrl, {'attr': {'class': 'form-control', 'placeholder': 'Enter URL here'}}) }}
            {{ form_errors(form.originalUrl) }}
        </div>
        <div class="text-center">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
